%html
    %body
        = render'shared/side_bar'
        .chat
            .header
                .left-header__title
                    =@group.name
                .left-header__members
                  .members
                    - @group.users.each do |user|
                     =user.name
                .right-header
                  .right-header__btn
                    =link_to"Edit",edit_group_path(@group)
                .messages
                 =render@messages
                .form
                    = form_for [@group,@message] do |f|
                        =f.text_field:content,class:'form__message',placeholder:'type a message'
                                .form__mask
                                    =f.label:image, class:'form__mask__image' do
                                        =fa_icon'picture-o',class:'icon'
                                        =f.file_field:omage,class:'hidden'
                                    =f.submit'Send',class:'form__submit'