.side-bar
    .header
        %h3.header__lists
            =current_user.name
        %ul.header__lists
        %li.header__lists
            %li.link
                =link_to new_group_path do
                    =fa_icon'pencil-square-0',class:'icon'
            %li.header__lists
                =link-to edit_user_path(current_user)do
                    =fa_icon'cog',class:'icon'

    .groups
        .group
            -current_user.groups.each do|group|
                =link_to group_messages_path(group)do
                    .group__name
                    =group.name
                    .group__message
                    =group.show_last_message